{% comment %} Prepare Setting Data {% endcomment %}
{% assign color_sale_label = '#e95144' %}
{% assign bg_sale_label = '#fff' %}
{% assign border_color_sale_label = '#e95144' %}
{% assign color_sold_out_label = '#d2d8db' %}
{% assign border_color_sold_out_label = '#d2d8db' %}
{% assign bg_sold_out_label = '#fff' %}

{% comment %} Grid Width Class Desktop {% endcomment %}
{% assign grid_width_class_desktop = 'bc-sf-filter-grid-width-4' %}
{% case section.settings.products_per_row %}
  {% when 2 %}
    {% assign grid_width_class_desktop = 'bc-sf-filter-grid-width-2' %}
  {% when 3 %}
    {% assign grid_width_class_desktop = 'bc-sf-filter-grid-width-3' %}
  {% when 4 %}
    {% assign grid_width_class_desktop = 'bc-sf-filter-grid-width-4' %}
  {% when 5 %}
    {% assign grid_width_class_desktop = 'bc-sf-filter-grid-width-5' %}
{% endcase %}

{% comment %} Grid Width Class Mobile {% endcomment %}
{% assign grid_width_class_mobile = 'bc-sf-filter-grid-width-mb-2' %}
{% case section.settings.products_per_row_mobile %}
  {% when 1 %}
    {% assign grid_width_class_mobile = 'bc-sf-filter-grid-width-mb-1' %}
  {% when 2 %}
    {% assign grid_width_class_mobile = 'bc-sf-filter-grid-width-mb-2' %}
  {% when 3 %}
    {% assign grid_width_class_mobile = 'bc-sf-filter-grid-width-mb-3' %}
{% endcase %}

{% comment %} Soldout {% endcomment %}
{% assign sold_out = false %}
{% assign sold_out_class = '' %}
{% if product_filter_search.sold_out != blank %} 
  {% assign sold_out_text =  'product_filter_search.sold_out' | t %}
{% else %} 
  {% assign sold_out_text = 'Sold Out' %}
{% endif %}  
{% unless product.available %}
  {% assign sold_out = true %}
  {% assign sold_out_class = 'sold-out' %}  
{% endunless %}

{% comment %} On Sale {% endcomment %}
{% assign on_sale = false %}
{% assign sale_class = '' %}
{% if product_filter_search.sold_out != blank %} 
  {% assign sale_text =  'product_filter_search.sale' | t %}
{% else %} 
  {% assign sale_text = 'Sale' %}
{% endif %} 
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
  {% assign sale_class =  'on-sale' %}
{% endif %}

{% comment %} Product Image Url {% endcomment %}
{% assign img_url = 'bc-sf-filter-no-image.gif' | asset_url %}
{% assign swap_img_url = 'bc-sf-filter-no-image.gif' | asset_url %}
{% assign no_swap_image = ' no-swap-image' %}
{% if product.featured_image.src == blank %}
  {% if product.images[0]%}
    {% assign img_url = product.images[0] | img_url: 'large' %}
  {% endif %}
  {% if product.images[1]%}
    {% assign swap_img_url = product.images[1] | img_url: 'large' %}
    {% assign no_swap_image = '' %}
  {% endif %}
{% else %}
  {% assign img_url = product.featured_image | img_url: 'large' %}
  {% if product.images[1] %}
    {% assign swap_img_url = product.images[1] | img_url: 'large' %}
    {% assign no_swap_image = '' %}
  {% endif %}
{% endif %}
{% if section.settings.active_image_swap != true %}
    {% assign no_swap_image = ' no-swap-image' %}
{% endif %}

<div class="bc-sf-filter-product-item {{ grid_width_class_desktop }} {{ grid_width_class_mobile }} {{ sold_out_class }} {{ sale_class }}">
    <div class="bc-sf-filter-product-item-inner">
      <a href="{{ product.url | within: collection }}" class="bc-sf-filter-product-item-link">
        <span class="bc-sf-filter-product-item-image">
          <img src="{{ img_url }}" class="bc-sf-filter-product-item-main-image{{ no_swap_image }}" alt="{{ product.featured_image.alt | escape }}" />
          {% if section.settings.active_image_swap %}
          <img src="{{ swap_img_url }}" class="bc-sf-filter-product-item-flip-image" alt="{{ product.featured_image.alt | escape }}" />  
          {% endif %}
        </span>

        {% if section.settings.show_sale_label or section.settings.show_sold_out_label %}
        <span class="bc-sf-filter-product-item-label">
          {% if sold_out and show_sold_out_label %}
          <span class="soldout label" style="color: {{ color_sold_out_label }}; border: 1px solid {{ border_color_sold_out_label }}; background: {{ bg_sold_out_label }};">
            {{ sold_out_text }}
          </span>
          {% endif %}
          {% if on_sale and show_sale_label %}
          <span class="sale label" style="color: {{ color_sale_label }}; border: 1px solid {{ border_color_sale_label }}; background: {{ bg_sale_label }};">
            {{ sale_text }}
          </span>
          {% endif %}
        </span>          
        {% endif %}       
        
        <div class="bc-sf-filter-product-bottom">
          <p class="bc-sf-filter-product-item-title">{{ product.title }}</p>

          {% if section.settings.show_vendor %}
            <p class="bc-sf-filter-product-item-vendor">{{ product.vendor }}</p>
          {% endif %}
          
          {% if section.settings.show_price %}
            <p class="bc-sf-filter-product-item-price">
              {% if on_sale %}
                <s>{{ product.compare_at_price | money }}</s>
                <span class="bc-sf-filter-product-item-sale-price">{{ product.price | money }}</span>
              {% else %}
                {% if product.price_varies %}                  
                  {% if product_filter_search.from != blank %} 
                    {{ 'product_filter_search.from' | t }}" 
                  {% else %} 
                    from
                  {% endif %}
                {% endif %}
                <span class="bc-sf-filter-product-item-regular-price">{{ product.price | money }}</span>
              {% endif %}
            </p>
          {% endif %}
        </div>
      </a>
    </div>
</div>