{% if section.settings.enabled %}
<div class="container inspires-section__inner">
		{% assign class = '' %}

		{% if section.settings.start_text_right %}
			{% assign class = ' story--theme-right' %}
		{% else %}
			{% assign class = '' %}
		{% endif %}

	    <div class="story{{ class }}">
	        <div class="story__textbox story__textbox--custom">
	            <h4 class="heading-text heading-text--h4 story__heading">{{section.settings.heading}}</h4>
	            <div class="story__content">
	            	{{ section.settings.text }}
	            </div>
	        </div>
	        {% if section.settings.media_type == 'image' %}
	        	{% assign desktop_image_url = section.settings.image_desktop | img_url: 'master' %}
	        	{% assign mobile_image_url = section.settings.image_mobile | img_url: 'master' %}
	        	<div class="story__media for-desktop" style="background-image: url('{{ desktop_image_url }}');">
		            <img class="story__photo" src="{{ desktop_image_url }}" />
		        </div>
		        <div class="story__media for-mobile" style="background-image: url('{{ mobile_image_url }}');">
		            <img class="story__photo" src="{{ mobile_image_url }}" />
		        </div>
		    {% else %}
			    <div class="story__media">
			        <iframe width="560" height="315" src="{{ section.settings.youtube_url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			    </div>
	        {% endif %}
	    </div>
    
</div>
<style type="text/css">
	.story__textbox--custom {
		{% if section.settings.bg_color %}
			background-color: {{section.settings.bg_color}}!important;
		{% endif %}
		{% if section.settings.text_color %}
			color: {{section.settings.text_color}}!important;
		{% endif %}
	}
    .story__textbox--custom .story__heading {
        {% if section.settings.heading_color %}
            color: {{section.settings.heading_color}}!important;
        {% endif %}
    }
    .story__textbox--custom a {
        {% if section.settings.link_color %}
        color: {{section.settings.link_color}}!important;
        {% endif %}
    }
</style>
{% endif %}
{% schema %}
  {
    "name": "Custom Story",
	"class": "inspires-section",
    "settings": [
    	{
          "type": "checkbox",
          "id": "enabled",
          "label": "Enabled?",
          "default": true
        },
		{
          "type": "checkbox",
          "id": "start_text_right",
          "label": "Text Block On Right Side",
          "default": false
        },
		{
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#616161"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#fff"
        },
		{
          "type": "color",
          "id": "link_color",
          "label": "Link Color",
          "default": "#a58a52"
        },
        {
        	"type": "text",
        	"id": "heading",
        	"label": "Heading"
        },
        {
        	"type": "richtext",
        	"id": "text",
        	"label": "Text"
        },
        {
        	"type": "radio",
        	"id": "media_type",
        	"label": "Media Type",
        	"options": [
	        	{ "value": "image", "label": "Image" },
	        	{ "value": "video", "label": "Youtube Video" }
        	],
        	"default": "image",
        	"info": "Media type is image or image"
        },
        {
        	"type": "image_picker",
        	"id": "image_desktop",
        	"label": "Desktop Image",
        	"info": "Image for desktop view"
        },
        {
        	"type": "image_picker",
        	"id": "image_mobile",
        	"label": "Mobile Image",
        	"info": "Image for mobile view"
        },
        {
        	"type": "text",
        	"id": "youtube_url",
        	"label": "Youtube Video",
        	"info": "E.g. https://www.youtube.com/embed/OAG_swOk4gI"
        }
	]
  }
{% endschema %}